
* {
  margin: 0px;
  padding: 0px;
}

body {
  width:100%;
  height:100%;
}

wrapper {
  width:100%;
  height:100%;
}

.image {
  width:100%;
}


/*content*/

.main {
  height:70%;
}

.main-up {
  height:40%;
}

.movie-box {
  display: flex;
  margin: auto;
}


.right-content{
  margin:auto;
  display:flex;
  background-color: white;
  width:90%;
}
.youtube-box {
  width: 33%;
  position: relative;
}
.youtube-link {
  width:100px;
}
.youtube-box-image {
  height:100%;
  width:100%;
}
.play {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top:0;
  bottom: 0;
  z-index:1;
}